$fontSecularOne: 'Secular One', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontAnton: 'Anton', sans-serif;
$White: #FFFFFF ;
$Orange: #FC540C;
$Blue: #0C58FC;
$DarkBlue: #0044B2;
$DeepBlue: #062C7f;
$OrangeBorder: 3px solid $Orange;