<main class="">
  <div class="row">		
    <div class="col-4">
      <h4> 
				<%=view.list.listTitle%> 
			</h4>
    </div>
		
    <div class="col-8 d-flex justify-content-end">
      <input id="searchInput" class="w-75 me-2 p-1" placeholder="Search...">
      <button id="clearSearch" class="btn btn-primary">Clear</button>
    </div>
     
    <div class="col-12">
      <div id="<%=view.alertContainerId%>" class="mt-2"></div>
      <div id="tableContainer" class="mt-2"></div>
      <button id="resetView" class="btn btn-primary clear-search-btn ml-2">Reset View</button>
    </div>	
  </div>
</main>

<div class="modal" id="modalTeamConfirmDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete This Team?</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        This action can be undone by clicking the "Reset View" button.
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
        <button id="confirmDelete" type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>